#logo
{
    width: 200px
}

header
{
    display: flex;
    justify-content: space-between;
}

/**/

@media screen and (max-width: 400px)
{
    h1
    {
        display: none;
    }
    /*header
    {

    }*/
}